@font-face {
  font-family: "Bebas_Neue";
  src: url("./../assets/fonts/Bebas_Neue/BebasNeue-Regular.woff2");
  src: url("./../assets/fonts/Bebas_Neue/BebasNeue-Regular.woff2")
      format("woff2"),
    url("./../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Monstserrat";
  src: url("./../assets/fonts/Montserrat/Montserrat.woff2");
  src: url("./../assets/fonts/Montserrat/Montserrat.woff2") format("woff2"),
    url("./../assets/fonts/Montserrat/Montserrat.ttf") format("truetype");
  font-display: swap;
}
:root {
  --primary: #234d96;
  --secondary: #40679e;
  --third: #387adf;
  --fourth: #ffe3ca;
  --white: #f6f5f5;
  --black: #0f1427;
  --gray: #d1d5dbbe;
  --mongoDb: #144e0d;
  --react: #111b53;
  --express: #373942;
  --node: #0b3d1e;
  --html-bg: #bb2f0c;
  --css-bg: #065ba0;
  --javscript-bg: #fddb00;
  --socket: #6e6c6c;
  --sql: #202a63;
  --sass: #582538;
  --font-titles: "Bebas_Neue";
  --font-text: "Monstserrat";
  --border: 4px solid #387adf;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-text);
  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
    color: var(--white);
  }
}
header {
  position: fixed;
  width: 90%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  nav {
    backdrop-filter: blur(2px);
    width: 100%;
    flex-direction: row;
    padding: 0.5rem 1rem;
    background-color: var(--gray);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px var(--black);
  }
}
nav {
  text-align: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  a {
    color: var(--black);
    text-decoration: none;
  }
}
h1,
h2,
h3 {
  font-family: var(--font-titles);
  letter-spacing: 0.3rem;
}
h3 {
  font-family: var(--font-text);
  color: var(--primary);
  font-size: 1.4rem;
  letter-spacing: -0.001rem;
  text-wrap: balance;
  font-weight: 800;
}
b,
strong {
  font-weight: 700;
  color: var(--secondary);
}
i {
  font-style: italic;
  color: var(--primary);
}
img {
  width: 100%;
}
.wrapper {
  padding: 0 1rem;
  max-width: 36rem;
  @media (min-width: 768px) {
    max-width: 42rem;
  }
  @media (min-width: 769px) {
    max-width: 56rem;
  }
}
.activa {
  color: var(--fourth);
  font-weight: bold;
}
.linkedin:after,
.linkedin:before {
  border: 0 solid;
  box-sizing: border-box;
}
.linkedin {
  width: 15rem;
  box-sizing: border-box;
  display: block;
  position: relative;
  transition: color 0.1s linear;
  padding: 0.5rem 1rem;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
  mask-image: -webkit-radial-gradient(#000, #fff);
  @media (prefers-color-scheme: dark) {
    color: var(--white);
  }
}
.linkedin:hover {
  color: var(--third);
  transition: ease-in-out 2s;
  @media (prefers-color-scheme: dark) {
    color: var(--fourth);
  }
}
.linkedin:after,
.linkedin:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.linkedin:before {
  border-right: var(--border);
  border-top: var(--border);
  left: 0;
  top: 0;
}
.linkedin:hover:before {
  animation: border-top-and-right 1s forwards;
}
.linkedin:after {
  border-bottom: var(--border);
  border-left: var(--border);
  bottom: 0;
  right: 0;
  z-index: -1;
}
.linkedin:hover:after {
  -webkit-animation: border-bottom-and-left 1s 1s forwards;
  animation: border-bottom-and-left 1s 1s forwards;
}

.mongo {
  background-color: var(--mongoDb);
}
.react {
  background-color: var(--react);
}
.express {
  background-color: var(--express);
}
.node {
  background-color: var(--node);
}
.html-bg {
  background-color: var(--html-bg);
}
.css-bg {
  background-color: var(--css-bg);
}
.javscript-bg {
  background-color: var(--javscript-bg);
  span {
    color: var(--black);
  }
}
.socket {
  background-color: var(--socket);
}
.sql {
  background-color: var(--sql);
}
.sass {
  background-color: var(--sass);
}
.icon-tabler {
  aspect-ratio: 1/1;
  stroke-width: 1px;
  stroke: var(--black);
}
.icon-subtitle {
  width: 2.5rem;
}
.wrapper-subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 4rem;
}
.subtitle {
  font-size: 1.5rem;
}
.link-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--black);
  padding: 0 0.5rem;
  transition: all ease-in-out 0.5s;
  text-decoration: none;
  color: var(--black);
  &:hover {
    background-color: var(--secondary);
    color: var(--fourth);
    svg {
      stroke: var(--fourth);
    }
  }
  @media (prefers-color-scheme: dark) {
    border: 1px solid var(--fourth);
    color: var(--white);
    svg {
      stroke: var(--white);
    }
  }
}
.hero {
  padding-top: 5rem;
  .wrapper-avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    .avatar {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: 60% 0;
    }
  }
  .wrapper-description {
    .name {
      font-size: 2.25rem;
      line-height: 2.5rem;
      text-wrap: pretty;
      font-weight: 700;
    }
    .description {
      margin-top: 1.5rem;
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-wrap: pretty;
    }
  }
  .wrapper-networks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: flex-start;
    @media (min-width: 768px) {
      width: 50%;
    }
    .network {
      border-radius: 5rem;
    }
  }
}
main {
  .wrapper-exp {
    border-left: 3px solid var(--gray);
    article {
      position: relative;
      padding: 0 2rem;
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
      }
      .dot {
        position: absolute;
        left: -0.45rem;
        top: 0.7rem;
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background-color: var(--third);
      }
      .wrapper-job {
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
        align-items: center;
        strong {
          font-weight: bolder;
          font-size: 1.2rem;
        }
        .icon-tabler-job {
          width: 2rem;
          height: 2rem;
          stroke: var(--secondary);
        }
      }
      .wrapper-date {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 1rem;
        :nth-child(1)::after {
          content: "-";
          margin-left: 0.5rem;
        }
      }
      .activity-list {
        list-style: none;
        li {
          margin-bottom: 0.4rem;
          text-wrap: pretty;
          &::before {
            content: "📋";
            margin-right: 0.2rem;
          }
        }
      }
    }
  }
}
.wrapper-proyectos {
  h3 {
    font-size: 1.25rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  .proyecto {
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      &:nth-child(3) {
        .wrapper-img {
          grid-column: 2/3;
        }
        .wrapper-info-proyect {
          grid-row: 1;
          grid-column: 1/2;
        }
      }
    }
    .img-proyecto {
      overflow: hidden;
      transition: all 0.5s ease;
      filter: drop-shadow(0 3mm 4mm var(--secondary));
      aspect-ratio: 1.33;
      &:hover {
        transform: scale(1.1);
      }
    }
    .list-tech {
      padding: 0;
      width: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      align-items: center;
      li {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        border-radius: 5rem;
        gap: 0.5rem;
        font-size: 0.8rem;
        padding: 0.3rem;
        width: 100%;
        box-shadow: 3px 3px 10px rgb(49 53 58 / 0.87);
        .tech-ico {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    .wrapper-links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-items: center;
      justify-items: start;
      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
      a {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: 0.2rem;
        width: 100%;
        padding: 0.3rem;
        border: 1px solid var(--primary);
      }
    }
  }
}
.wrapper-about-me {
  .wrapper-about-me-info {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      .wrapper-img {
        grid-column: 2/3;
      }
      .description {
        grid-row: 1;
        grid-column: 1/2;
      }
    }
  }
  .wrapper-img {
    margin: 2rem auto;
    border-radius: 1rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary);
    box-shadow: 5px 5px 5px 3px var(--gray);
    transform: rotate(8deg);
    @media (prefers-color-scheme: dark) {
      box-shadow: 5px 5px 10px 1px var(--gray);
    }
    .aboutMe-img {
      aspect-ratio: 1/1;
      width: 100%;
    }
  }
  .description {
    text-wrap: pretty;
  }
}

.footer {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.8rem;
  .wrapper-button {
    width: 100%;
    button {
      color: var(--black);
      font-family: var(--font-text);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      padding: 0.5rem 0;
      border: none;
      span {
        cursor: pointer;
      }
      @media (prefers-color-scheme: dark) {
        color: var(--white);
      }
      .wrapper-likes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
      }
      &:disabled {
        span {
          cursor: unset;
        }
        .wrapper-likes {
          cursor: unset;
        }
      }
    }
  }
  .heart {
    width: 1.5rem;
    height: 1.5rem;
    animation: pulse alternate-reverse infinite 2s;
  }
}
@keyframes pulse {
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1.25);
  }
}
@-webkit-keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@-webkit-keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
